body,p,section,nav,header,h2,h3,h4,h5{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li{
	list-style: none;
}
input{
	margin: 0;
	padding: 0;
	vertical-align: top;
}
button{
	outline: none;
}
img{
	border: none;
	vertical-align: middle;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
.center{
	width: 1200px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}


.maybesee{
	width: 100%;
	/*opacity: 0.7;*/
	
}
.head_one{
	
	height: 42px;
	line-height: 42px;
	border: 1px solid transparent;
	
	background-color: rgba(0,0,0,0.7);
}
.head_one:hover{
	animation: 0.5s move_head linear 1;
	animation-fill-mode:forwards;
}
@keyframes move_head{
	0%{
		width: 100%;
		height: 42px;	  
		
	}
	100%{
		width: 100%;
		height: 60px;
		line-height: 60px;
		background-color: rgba(0,0,0,0.5);
	}
}
.blackmu{
	top: 0;
	left: 0;
	width: 100%;
	height: 43px;
	background: rgba(0,0,0,.7);
	position: absolute;
	z-index: 3;
}
.blackmu:hover{
	animation: 0.4s move_mu linear 1;
	animation-fill-mode:forwards;
}
@keyframes move_mu{
	0%{
		width: 100%;
		height: 42px;	  
		
	}
	100%{
		width: 100%;
		height: 61px;
		background-color: rgba(0,0,0,0.3);
	}
}

.head_one_fir{
	width: 200px;
	margin: 0 auto;	
	position: relative;
	z-index: 2;	
}
.head_one span{
	color: #fff;
	font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;
	
}
.head_one .icon-play{
	color: #009688;
	margin-right: 5px;
}
.head_one .icon-arrowdown{
	color: #fff;
	font-size: 12px;
	margin-left: 5px;
}
.head_one .icon-close{
	color: #fff;
	font-size: 12px;		
}
.head_one_sed{
	position: absolute;
	right: 100px;
	top: 0;
}
.head_one_sed .head_one_sed_font{
	display: none;
	color: #ccc;
	background: #43434a;
	border: 1px solid rgba(29,25,33,.8);
	border-radius: 14px;
	padding: 0 14px;
}

.head_bos{
	width: 100%;
	overflow: hidden;
	display: none;
    height: 451px;
	position: relative;
	top: 0;
	left: 0;
	background: radial-gradient(farthest-side at center bottom,#ff6944 0,#191413 100%) center bottom;
    background-size: 100% 150%;
}
.head_bos_one{
	position: absolute;
	top:28px;
	left: 235px;
	font-size: 22px;
	color: #ccc;

}
.head_two{
	position: absolute;
}
.head_two div{
	float: left;
	position: relative;
	height: 341px;	
	width: 209px;
	margin-right: 5px;
}
.head_two div img{
	padding: 60px 0 0 20px;
	width: 209px;
	height: 293px;
}
.head_two div span:nth-of-type(1){
	width: 35px;
	height: 28px;
	text-align: center;
	background-color: rgba(17,17,17,.8);
	color: #009688;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.head_two div span:nth-of-type(1) b{
	font-size: 20px;	
}
.head_two div span:nth-of-type(1) i{
	font-size: 12px;
}
.head_two div p:nth-of-type(1){
	position: relative;	
	color: #fff;	
	padding: 5px 0 5px 20px;
	font-size: 16px;
}
.head_two div p:nth-of-type(2){
	position: relative;
	padding: 0 0 0 20px;
	color: #ccc;
	font-size: 13px;	
}
.head_bos .arrowtop{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -18px;
	display: block;
	height: 36px;
	width: 36px;
	font-size: 30px;
	color: rgba(255,255,255,.9);
	transform: rotateX(180deg);
}
.header{
	position: relative;
}
.logo-tenxun{
	position: absolute;
	top: 14px;
	left: 100px;
}
.logo-tenxun-one{
	width: 160.85px;
	height: 60.25px;
}
.logo-tenxun-two{
	position: relative;
	left: -20px;
	top: -3px;
	width: 105px;
	height: 59px;
}

.search{
	position: absolute;
	left: 50%;
	margin-left: -275px;
	top: 12px;
}
#search{
	width: 550px;
	height: 40px;
	padding-left: 20px;
	border-radius: 20px;
	border-color: transparent;
	background: rgba(255,255,255,0.5);
	outline: none;
}
.search .hotsearch{
	width: 64px;
	height: 40px;
	line-height: 40px;
	position: relative;
	top: -40px;
	left: 369px;
}
.hotsearch .icon-zhuzhuangtu{
	position: absolute;
	color: #009688;
}
.hotsearch_span{
	position: absolute;
	top: 0px;
	left: 20px;
	color: #0096888;
}
.search .search_button{
	width: 90px;
	height: 40px;
	padding-right: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border: 2px solid #009688;
	background: linear-gradient(to right,#009688 0,#035157 100%);
	position: relative;
	top: -84px;
	left: 462px;	
}
.search_button .icon-search{
	color: #fff;
	font-size: 24px;
	line-height: 40px;
	position: absolute;
	left: 18px;
}
.allsearch{
	color: #fff;
	line-height: 40px;
	position: absolute;
	left: 48px;
}
.search .search_button:hover{
	background: #009688;
}
.search_right{
	position: relative;
	left: 800px;
	top: -120px;
	width: 228px;
	height: 43px;
}
.search_right_fir{
	position: absolute;
}
.search_right_fir img{
	width: 20px;
	height: 20px;
}
.search_right_fir span{
	position: relative;
	top: 20px;
	left: -22px;
	color: #ffcf5d;
	font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;
}
.search_right_sed{
	position: absolute;
	left: 38px;
}
.search_right .icon-time{
	font-size: 20px;
	color: #fff;
	opacity: 0.6;
    transition: opacity 50ms ease-in;
    position: relative;
    left: 6px;
}
.search_right_sed span:nth-of-type(2){
	position: relative;
	top: 18px;
	left: -20px;
	color: #fff;
	opacity: 0.6;
    transition: opacity 50ms ease-in;
	font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;
}
.search_right_thr{
	position: absolute;
	left: 81px;
}
.search_right .icon-icupload{
	font-size: 20px;
	color: #fff;
	opacity: 0.6;
    transition: opacity 50ms ease-in;
    position: relative;
    left: 6px;
}
.search_right_thr span:nth-of-type(2){
	position: relative;
	top: 18px;
	left: -20px;
	color: #fff;
	opacity: 0.6;
    transition: opacity 50ms ease-in;
	font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;
}
.search_right_fou{
	position: absolute;
	left: 113px;
}
.search_right .icon-dianshi{
	font-size: 20px;
	color: #fff;
	opacity: 0.6;
    transition: opacity 50ms ease-in;
    position: relative;
    left: 25px;
}
.search_right_fou span:nth-of-type(2){
	position: relative;
	top: 18px;
	left: -20px;
	color: #fff;
	opacity: 0.6;
    transition: opacity 50ms ease-in;
	font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;
}
.search_right_fiv{
	position: absolute;
	left: 182px;
	top: -5px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 40px;
}
.search_right_fiv img{
	width: 40px;
	height: 40px;
}
#search_ul{
	width: 444px;
	background: #fff;
	position: relative;
	top: -125px;
	left: 18px;
}
.souli{
	height: 40px;
	line-height: 40px;
	padding-left: 10px;	
	font-size: 16px;
}
.souli:hover{
	background: #eee;
}

.arrright{
	position: absolute;
	
	top: 205px;
	right: 40px;
	background: rgba(0,0,0,.8);	
	display: block;
	border: 1px solid transparent;
	padding: 10px;
	font-size: 30px;
	color: rgba(255,255,255,.9);
	transform: rotateX(270deg);
	z-index: 1000;
}
.arrleft{
	position: absolute;
	height: 36px;
	width: 36px;
	top: 205px;
	left: 40px;
	background: rgba(0,0,0,.8);	
	display: block;
	border: 1px solid transparent;
	padding: 10px;
	font-size: 30px;
	color: rgba(255,255,255,.9);
	transform: rotateX(90deg);
	z-index: 999;
	
}

.sec_one{
	width: 100%;
	height: 750px;
    background: #2e2e36;
}
.bacgd header{
	height: 73px;
}


#play_btn{
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	margin-left: 8px;
	font-size: 20px;
}
#tiao{
	margin-right: 50%;
}
#pro{
	width: 100%;
	height: 4px;
	vertical-align: middle;
	padding: 0;
}
#tim{
	color: #fff;
}

#serc{
	border: none;
    width: 35%;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 20px;
    color: #ccc;
    border-radius: 17px 0 0 17px;
    box-sizing: border-box;
    vertical-align: middle;
    outline: none;
    background-color: #1e1e22;
}
#bbtn{
	width: 66px;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    color: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
    background-color: #515155;
    vertical-align: middle;
    outline: none;
    margin-left: -4px;
}
#bbtn:hover{
	background: linear-gradient(to right,#ff850b 0,#ff5945 100%);
}
#tuozh{
	display: inline-block;
	width: 9px;
    height: 59px;
    line-height: 59px;
    position: absolute;
    right: -9px;
    top: 50%;
    margin-top: -4px;
    cursor: pointer;
    color: #666;
    background: #36363e;
}
#tuozh:hover{
	background: #464650;
	color: #009688;
}










.bacgd .rig{
	margin-top:10px;
	width: 1000px;
	height: 600px;
	background: #26262b;
	margin-left: 100px;

}
.bacgd .rig .top{
    padding: 16px 0 5px 20px;
    margin-bottom: 10px;
}

.bacgd .rig .top h2 i{
    line-height: 32px;
    margin: 7px 5px 0 0;
    padding: 0 3px;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid #fc3f4c;
    color: #fc3f4c;
    border-radius: 2px;
    cursor: default;
}
.bacgd .rig .top h2 .aa1{
	color: #fff;
	font-size: 22px;
    line-height: 32px;
    font-weight: 500;
}
.bacgd .rig .top h2 .aa2{
	width: 44px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #009688;
    border: 1px #36363e solid;
    border-radius: 16px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
}
.bacgd .rig .top h2 .aa2:hover{
    background: #009688;
    border-color: #009688;
}
.bacgd .rig .conte .dv1{
	margin-left: 20px;
}
.bacgd .rig .conte .dv1 .a1sa1{
	display: inline-block;
	width: 213px;
	height: 34px;
	line-height: 34px;
    border-radius: 40px;
    color: #fff;
    background-color: #eb3643;
    text-align: center;
}
.bacgd .rig .conte .dv1 .a1sa1:hover{
	background-color: #bc2b36;
}
.bacgd .rig .conte .dv1 .a1sa2{
	display: inline-block;
	text-align: center;
	width: 213px;
	color: #ccc;
	margin-top: 7px;
	margin-bottom: 10px;
}
.bacgd .rig .conte .dv1 .a1sa2:hover{
	color: #fff;
}
.bacgd .rig .conte .dv1 img{
	width: 54px;
	height: 54px;
	float: right;
	margin-right: 20px;
}

.bacgd .rig ul{
	margin: 0 0 20px 20px;
}
.bacgd .rig ul li{
	
	height: 74px;
	cursor: pointer;
	padding-top: 30px;
}
.bacgd .rig ul li .ddv1{
	width: 195px;
	height: 111px;
	position: relative;
	
	margin-left: 200px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.bacgd .rig ul li .ddv1 img{
	height: 100%;

}
.bacgd .rig ul li .ddv1 span{
	position: absolute;
    left: 4px;
    bottom: 4px;
    padding: 0 4px;
    background-color: rgba(17,17,17,.8);
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.bacgd .rig ul li .ddv2{
	width: 400px;
	height: 111px;
	position: absolute;

	margin-left:430px;
	margin-right: 200px;
	padding-right: 10px;
	margin-top: -163px;
	margin-bottom: 30px;
	
}
.bacgd .rig ul li .ddv2 .p0pp1{
	line-height: 20px;
	color: #999;
}
.bacgd .rig ul li .ddv2 .p0pp2{
	font-size: 12px;
	line-height: 20px;
	color: #999;
}
.bacgd .rig ul li .ddv2 .p0pp3{
	font-size: 12px;
	line-height: 20px;
	color: #999;
	margin-top: 20px;
}
.bacgd .rig ul li .ddv2:hover .p0pp1{
	color: #009688;
}
.bacgd .rig .tit{
	margin: 10px 10px 0 20px;
    line-height: 1.5;
    font-size: 16px;
    color: #999;
}








.footer{
	background-color: #fff;
    clear: both;
    overflow: hidden;
    margin-top: 60px;
    border-top: 2px solid #009688;
}
.footer_inner{
	width: 1120px;
    margin: 40px auto 10px;
}
.footer_inner_one{
	overflow: hidden;
}
.footer_inner_one_fir{
	position: relative;
    float: left;
    
    width: 210px;
    margin-right: 110px;
    min-height: 74px;
}
.footer_inner_one_fir_title{
	display: block;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: normal;
    color: #202020;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer_inner_one_fir ul{
	font-size: 0;
    letter-spacing: -3px;
    list-style: none;
}
.footer_inner_one_fir ul li{
	display: inline-block;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 7px;
    letter-spacing: normal;
    vertical-align: top;
    font-size: 12px;
    line-height: 21px;
    text-align: -webkit-match-parent;
}
.footer_inner_one_fir ul li a{
	color: #666;
    text-decoration: none;
    cursor: pointer;
}


.footer_inner_two_fir{
    width: 70px;
    margin-right: 150px;
    position: relative;
    float: left;
    min-height: 74px;
}
.footer_inner_two_fir_title{
	display: block;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: normal;
    color: #202020;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer_inner_two_fir ul{
	font-size: 0;
    letter-spacing: -3px;
    list-style: none;
}
.footer_inner_two_fir ul li{
	display: inline-block;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 7px;
    letter-spacing: normal;
    vertical-align: top;
    font-size: 12px;
    line-height: 21px;
}
.footer_inner_two_fir ul li a{
	color: #666;
    text-decoration: none;
    cursor: pointer;
}
.footer_inner_thr_fir{
	width: 400px;
    margin-right: 70px;
    font-size: 0;
    letter-spacing: -3px;
    position: relative;
    float: left;
    min-height: 74px;
}
.footer_inner_thr_fir_title{
	display: block;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: normal;
    color: #202020;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer_inner_thr_fir_icon{
	width: 400px;
	height: 70px;
	display: block;
}
.footer_inner_thr_fir_icon a{
	text-decoration: none;
	display: inline-block;
    width: 80px;
    color: #666;
    outline: 0 none;
    cursor: pointer;
}
.footer_inner_thr_fir_icon a i{
	display: block;
    font-size: 50px;
    margin: 0 auto 20px;
    color: #999;  
}
.footer_inner_thr_fir_icon a span{
	margin-left: -18px;
	display: block;
    width: 80px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: normal;
    color: #666;
    font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;
}






.footer_inner_fou_fir{
	width: 70px;
    margin-right: 0;
    border-right: none;
    position: relative;
    float: left;
    min-height: 74px;
}
.footer_inner_fou_fir_title{
	display: block;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: normal;
    color: #202020;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer_inner_fou_fir ul{
	font-size: 0;
    letter-spacing: -3px;
    list-style: none;
}
.footer_inner_fou_fir ul li{
	display: inline-block;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 7px;
    letter-spacing: normal;
    vertical-align: top;
    font-size: 12px;
    line-height: 21px;
}
.footer_inner_fou_fir ul li a{
	color: #666;
	text-decoration: none;
    cursor: pointer;
}
.footer_lastone{
	line-height: 30px;
    padding: 25px 0;
    text-align: center;
    color: #999;
}
.footer_lasttwo{
	line-height: 30px;

    text-align: center;
    color: #999;
}
.footer_lasttwo a{
	color: #999;
	text-decoration: none;
    cursor: pointer;
}
.footer_lasttwo a:active,.footer_lasttwo a:visited,.footer_lasttwo a[tabindex='-1']:focus {
    outline: 0 none;
}
.footer a:hover{
	color: #009688;
}



.sec_two{
	width: 860px;
	height: 451px;
	float: left;
	margin-top: -1px;
}
.sec_two img{
	width: 860px;
	display: block;
	height: 451px;
}
.sec_thr{
	width: 333px;
	height: 1215px;
	float: right;
}
.sec_thr img{
	width: 333px;
	height: 1215px;
}
.sec_four{
	width: 870px;
}
.sec_five{
	width: 870px;
}
.sec_six{
	width: 870px;
	float: left;
	height: 5194px;
}
.sec_six img{
	width: 870px;
	height: 5194px;
}





.hh2{
    color: #2a2a2a;
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 28px;
}
.dv{
	width: 139px;
	padding-bottom: 30px;
	display: inline-block;
	text-align: center;
	position: relative;
}
.rigdiv{
	width: 139px;
	height: 194px;
	/*padding: 40px 5px;*/
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	text-align: left;
	display: none;
	cursor: pointer;
}
.rigdiv p{
	line-height: 30px;
	font-size: 14px;
}
.imgs{
	width: 139px;
	height: 194px;
	margin-bottom: 20px;
	cursor: pointer;
}
.pp2s{
	font-size: 12px;
	padding: 5px 0;
	color: red;
}
.pp3s{
	color: deepskyblue;
	font-size: 12px;
	cursor: pointer;
}
.rigspa01{
	color: #fff;
	margin-right: 20px;
}
.rigspa02{
	color: #ddd;
}
.rigsp03{
	color: #fff;
	margin-top: 20px;
}
.rigsp04{
	color: #fff;
}
.rigsp05{
	color: gold;
}

.vipimg{
	position: absolute;
	right: 5px;
    top: 5px;
}


.cebian{
	width: 40px;
	height: 160px;
	position: fixed;
	right: 0;
	bottom: 100px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.18);
	text-align: center;
	display: none;
}
.cebian div{
	width: 100%;
	height: 40px;
	background: #fff;
	line-height: 40px;
	color: #999;
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
	position: relative;
}
.cebian div:nth-of-type(4) span{
	display: inline-block;
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.cebian div:hover{
	background: #009688;
}
.cebian div:hover span{
	color: #fff;
}
.cebian div a{
	position: absolute;
	top: 0;
	left: -85px;
	display: inline-block;
	width: 85px;
	height: 40px;
	background: #fff;
	line-height: 40px;
	font-size: 14px;
	color: #202020;
	font-weight: normal;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.18);
	/*display: none;*/
}

