<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>栏目</title>
<!--		<link rel="icon" href="img/favicon.png" />-->
		<link rel="stylesheet" type="text/css" href="./css/iconfont0.css"/>
		<link rel="stylesheet" type="text/css" href="./css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="./css/xiangqingone.css"/>
		<script src="./js/jquery-3.1.0.js"></script>
		<script src="./js/xiangqingone.js"></script>
		<script src="./js/jsonp.js"></script>
	</head>
	<body>
		<div class="top clearfix">
			<div class="maybesee">
				<div class="head_one">
					<div class="blackmu">
					<div class="head_one_fir">
						<i class="iconfont icon-play"></i>
						<span>我的收藏</span>
						<i class="iconfont icon-arrowdown"></i>
					</div>
					</div>
					<div class="head_one_sed">
						<span class="head_one_sed_font">3天内将不再出现追剧版块</span>
						<i class="iconfont icon-close"></i>
					</div>
				</div>
				<div class="head_bos">
					<div class="head_two">
						<div style="width: 209px;">

						</div>
					</div>
					<span class="iconfont arrowtop icon-arrowdown"></span>

				</div>
			</div>
		</div>
		<div class="header">

			<div class="search">
				<input type="text" name="search" id="search" value="" placeholder="请输入检索词" />
				<div class="hotsearch">
					<span class="iconfont icon-zhuzhuangtu"></span>
					<span class="hotsearch_span">热搜榜</span>
				</div>
				<div class="search_button">
					<span class="iconfont icon-search"></span>
					<span class="allsearch">全网搜</span>
				</div>
				<div class="search_right">

					<div class="search_right_thr">
						<span class="iconfont icon-icupload"></span>
						<span>上传</span>
					</div>
					<div class="search_right_fou">
						<span class="iconfont icon-dianshi"></span>
						<span>打开客户端</span>
					</div>
					<div class="search_right_fiv">
						<img src="img/cat_mao.jpg"/>
					</div>
				</div>
				<ul id="search_ul"></ul>
			</div>
		</div>
		<section class="sec_one">
			<div class="bacgd center">
				<header>

				</header>

				<div class="rig">


					<ul>
						<li>
							<div class="ddv1">
								<img src="img/bacg_rig01.jpg"/>
								<span>01:48:58</span>
							</div>
							<div class="ddv2">
								<p class="p0pp1">F-35缘何迷失方向？</p>
								<p class="p0pp2">http://military.china.com.cn/2019-06/18/content_74895952.htm</p>
								<p class="p0pp2"> 2017   中国 </p>


								<p class="p0pp3">

								<span class="iconfont icon-ico-presetvideo-IJuv"></span>&nbsp;&nbsp;1840万&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="iconfont icon-xiaoxi"></span>&nbsp;&nbsp;479条 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019-07-19

								</p>
							</div>
						</li>
						<br>
						<li>
							<div class="ddv1">
								<img src="img/bacg_rig01.jpg"/>
								<span>01:48:58</span>
							</div>
							<div class="ddv2">
								<p class="p0pp1">F-35缘何迷失方向？</p>
								<p class="p0pp2">http://military.china.com.cn/2019-06/18/content_74895952.htm</p>
								<p class="p0pp2"> 2017   中国 </p>
								<p class="p0pp3">
								<span class="iconfont icon-ico-presetvideo-IJuv"></span>&nbsp;&nbsp;1840万&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="iconfont icon-xiaoxi"></span>&nbsp;&nbsp;479条 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019-07-19</p>
							</div>
						</li>
						<br>
						<li>
							<div class="ddv1">
								<img src="img/bacg_rig01.jpg"/>
								<span>01:02:33</span>
							</div>
							<div class="ddv2">
								<p class="p0pp1">FTI护卫舰会否成为“高卢铁骑”？</p>
								<p class="p0pp2">http://military.china.com.cn/2019-06/18/content_74895952.htm</p>
								<p class="p0pp2"> 2017   中国 </p>

								<p class="p0pp3">
								<span class="iconfont icon-ico-presetvideo-IJuv"></span>&nbsp;&nbsp;1840万&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="iconfont icon-xiaoxi"></span>&nbsp;&nbsp;479条 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019-07-19</p>
							</div>
						</li>
						<br>
						<li>
							<div class="ddv1">
								<img src="img/bacg_rig01.jpg"/>
								<span>01:21:48</span>
							</div>
							<div class="ddv2">
								<p class="p0pp1">FTI护卫舰会否成为“高卢铁骑”？</p>
								<p class="p0pp2">http://military.china.com.cn/2019-06/18/content_74895952.htm</p>
								<p class="p0pp2"> 2017   中国 </p>
								<p class="p0pp3">
								<span class="iconfont icon-ico-presetvideo-IJuv"></span>&nbsp;&nbsp;1840万&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="iconfont icon-xiaoxi"></span>&nbsp;&nbsp;479条 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019-07-19</p>
							</div>
						</li>

					</ul>

					<ul>

					</ul>
				</div>
			</div>
		</section>

		<div class="se_suo center">

			<section class="sec_four">
				<script src="https://api.douban.com/v2/movie/us_box?callback=fun2"></script>
			</section>
			<section class="sec_five">
				<script src="https://api.douban.com/v2/movie/coming_soon?callback=fun3"></script>
			</section>

		</div>







		<footer class="footer">
			<div class="footer_inner">
				<div class="footer_inner_one">
					<div class="footer_inner_one_fir">
						<em class="footer_inner_one_fir_title">热门频道</em>
						<ul>
							<li><a href="#">电视剧</a></li>
							<li><a href="#">综艺</a></li>
							<li><a href="#">电影</a></li>
							<li><a href="#">娱乐</a></li>
							<li><a href="#">MV</a></li>
							<li><a href="#">动漫</a></li>
							<li><a href="#">游戏</a></li>
							<li><a href="#">VIP影院</a></li>
							<li><a href="#">英美剧</a></li>
							<li><a href="#">纪录片</a></li>
							<li><a href="#">新闻</a></li>
							<li><a href="#">体育</a></li>
							<li><a href="#">生活</a></li>
						</ul>
					</div>
					<div class="footer_inner_two_fir">
						<em class="footer_inner_two_fir_title">特色推荐</em>
						<ul>
							<li><a href="#">原创自媒体</a></li>
							<li><a href="#">微电影</a></li>
							<li><a href="#">拍客</a></li>
							<li><a href="#">搞笑</a></li>

						</ul>
					</div>
					<div class="footer_inner_thr_fir">
						<em class="footer_inner_thr_fir_title">软件下载</em>
						<div class="footer_inner_thr_fir_icon">
							<a href="javascript:;">
								<i class="iconfont icon-shouji"></i>
								<span>手机版</span>
							</a>
							<a href="javascript:;">
								<i class="iconfont icon-win"></i>
								<span>Windows版</span>
							</a>
							<a href="javascript:;">
								<i class="iconfont icon-mac"></i>
								<span>Mac版</span>
							</a>
							<a href="javascript:;">
								<i class="iconfont icon-ipad"></i>
								<span>iPad版</span>
							</a>
							<a href="javascript:;">
								<i class="iconfont icon-television"></i>
								<span>TV版</span>
							</a>
						</div>
					</div>
					<div class="footer_inner_fou_fir">
						<em class="footer_inner_fou_fir_title">服务</em>
						<ul>
							<li><a href="#">客服</a></li>
							<li><a href="#">反馈</a></li>
							<li><a href="#">侵权投诉</a></li>
							<li><a href="#">免广告合作</a></li>

						</ul>
					</div>
				</div>
				<div class="footer_lastone">
					<div class="footer_lasttwo">
						<a href="#">关于腾讯</a>
						|
						<a href="#">About Tencent</a>
						|
						<a href="#">服务条款</a>
						|
						<a href="#">广告服务</a>
						|
						<a href="#">腾讯招聘</a>
						|
						<a href="#">客服中心</a>
						|
						<a href="#">网站导航</a>
						|
						<a href="index.html">回到首页</a>
					</div>
					<div class="footer_inner_two_sed">
						Copyright  1998 - 2018 Tencent. All Rights Reserved.
					</div>
					<div class="footer_inner_two_thr">
						腾讯公司 版权所有 腾讯网络文化经营许可证
					</div>
				</div>
			</div>
		</footer>
		<aside class="cebian">
			<div>
				<span class="iconfont icon-vip"></span>
			</div>
			<div class="nnow">
				<span class="iconfont icon-xiaoxi"></span>
				<a href="#">意见反馈</a>
			</div>
			<div>
				<span class="iconfont icon-xiazai"></span>
			</div>
			<div class="nnow">
				<span class="iconfont icon-arrowdown"></span>
				<a href="#">返回顶部</a>
			</div>
		</aside>
	</body>
</html>
